# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/cache/

# Logs
*.log
logs/

# OS Files
.DS_Store
Thumbs.db

# Temporary Data
tmp/
temp/
downloads/

# Database
*.db
*.sqlite3

# ML Models
*.pkl
*.joblib
*.h5

# Reports
reports/
outputs/
exports/